/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  }
  /* nav {
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  } */
  nav a {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
  }
  .List {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  }
  .book-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  margin-top: 50px;
  border-radius: 10px;
  }
  .book-card h3 {
  margin: 0;
  }
  .book-card button {
  margin-top: 10px;
  }
  .searchStyle {
  cursor: pointer;
  font-size: 1rem;
  color: black;
  border: none;
  border-radius: 4px;
  }
  .search-container {
  display: flex;
  align-items: center;
  justify-content: center;

  }
  .search-container input {
  padding: 8px;
  border: 1px solid black;
  border-radius: 15px;
  margin-right: 10px;

  }

  button{
    border-radius: 15px ;
    border: 1px solid white;
    color: white;
    background-color: blue;
    padding: 10px;
  }

  .bookshelf{
    display: flex;
    justify-content:right;
    margin-right: 100px;
  }

  .searchStyle:hover{
    color: blue;
  }


  @media (max-width: 768px) {
    .List {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .book-card {
      width: 100%;
    }
  
    .search-container {
      width: 100%;
    }
  
    .search-container input {
      width: calc(100% - 40px);
      margin-right: 0;
    }
    nav a{
      margin-top: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .List {
      grid-template-columns: 1fr;
    }
  
    .bookshelf {
      margin-right: 0;
    }
  
    .search-container {
      flex-direction: column;
    }
  
    .search-container input {
      width: calc(100% - 40px); 
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    button {
      width: 100%;
      box-sizing: border-box; 
    }
    nav a{
      margin-top: 15px;
    }
  }
  